<h1 class="edit-midasi">Editing Book</h1>

<% if @book.errors.any? %>
 <%= @book.errors.count %>error
 <ul>
   <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
 </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <div class="edit-title">
    <strong>Title</strong><br>
    <%= f.text_field :title %>
  </div>

  <div class="edit-body">
    <strong>Body</strong><br>
    <%= f.text_area :body %>
  </div>
  
  <div class="edit-botan">
    <%= f.submit 'Update Book' %>
  </div>
  
  <div class="edit-botan2">
    <span><%= link_to "Show", book_path(params[:id]) %></span>
    <span><%= "|" %></span>
    <span><%= link_to "Back", '/books' %></span>
  </div>
  
<% end %>